<!DOCTYPE html>
<html>
<head>
  <title>zhihu</title>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
          <%= link_to(current_user.username,:controller=>"users",:user_id=>current_user.id,:action=>"index") %>
      
          <%= link_to('login out', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('modefy password', edit_registration_path(:user)) %>
      <% else %>
          <%= link_to('register', new_registration_path(:user)) %> |
          <%= link_to('log in', new_session_path(:user)) %>
      <% end %>
	  
	  <br>
	  
	  <%= link_to 'New Question', new_question_path %>

<%= yield %>

</body>
</html>
